/*  src/Title.css  */
.Title {
  font-size: 25px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0em;
  margin-bottom: 1em;
  background-color: rgb(54, 124, 32);
  color: #fff;
}
